

* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width:auto;
  max-height: auto;
}
body {
  background-color: #131326;
  font-size: 1.3rem;
}
h1 {
  padding: 10px 10px;
  color: #ED1C2C;
}
h2 {
  color: #ED1C2C;
}
h3 {
color:#fcd900;
font-size: medium;
padding: 20px;
}
p {
  color: whitesmoke;
  padding: 5px 20px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 20px;
  padding: 20px;
  margin-right: 10px;
}

.image {
  margin-left: 10px;
  padding: 20px 20px 20px 20px;
}

img {
  max-width: 100%;
  max-height: 100%;

}

h1 {
  text-align: center;
  color: #ED1C2C;
  font-size: 48px;
  margin: 10px 0;
}
h3 {
  color: #;
}